/* Space out content a bit */
body {
  font-family: 'Reenie Beanie', cursive;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Navbar stuff */
.navbar-static-top {
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 0px;
}
.navbar-brand {
  font-size: 2em;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover{
  color: #000000;
}
.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-size: 1.5em;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #000000;
}
.navbar-nav > li > a:hover {
  text-decoration: underline;
}

/* Jumbotron stuff */
.jumbotron h1 {
  text-align: center;
}
.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
}

.col-md-4 {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 6px;
}
